<article class="article-item">
  <span class="article-item--date">{{ post.post_date|date('Y.m.d') }}</span>
  <h3 class="article-item--title">
    <a href="{{ post.link }}">{{ post.title }}</a>
  </h3>
</article>
