{% if breadcrumbs %}
  <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for breadcrumb in breadcrumbs %}
      <li class="last:overflow-hidden" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {% if breadcrumb.link %}
          <a class="breadcrumbs--link"
            itemscope
            itemtype="http://schema.org/Thing"
            itemprop="item"
            href="{{ breadcrumb.link }}">
            <span itemprop="name">{{ breadcrumb.title }}</span>
          </a>
        {% else %}
          <span class="breadcrumbs--current" itemscope itemtype="http://schema.org/Thing" itemprop="item">
            <span itemprop="name">{{ breadcrumb.title }}</span>
          </span>
        {% endif %}
        <meta itemprop="position" content="{{ loop.index }}" />
      </li>
    {% endfor %}
  </ol>
{% endif %}
