{% include 'partials/breadcrumbs.twig' %}
<footer class="footer">
  <a href="#" class="totop">
    <svg xmlns="http://www.w3.org/2000/svg" width="11.31" height="6.67">
      <path fill="#fff"
        d="M9.95 6.67 5.62 2.7A229.37 229.37 0 0 0 1.4 6.58a.86.86 0 0 0 .1-.15L0 5.2 5.64 0l5.67 5.2Z" />
    </svg>
  </a>

  <div class="container grid gap-10 md:grid-cols-[1fr_50%]">
    <div class="row-span-2">
      <span class="block font-bold">主催 │ 帝釈峡マラニック実行委員会</span>
      <span class="mt-5 block md:mt-8">企画・管理運営</span>
      <address class="mt-2 text-sm not-italic md:mt-5">
        〒733-0035<br />
        広島県広島市西区南観音1-9-6 3F<br />
        一般社団法人 ITADAKI 内
      </address>
    </div>
    <div class="footer-cta">
      <a href="{{ site.url }}/contact/" class="footer-cta--link">
        お問い合わせ
        <span class="icon icon-envelope"></span>
      </a>
      <a href="#" class="footer-cta--link bg-primary text-white">
        エントリー
        <span class="icon icon-entry border-primary"></span>
      </a>
    </div>
    <small class="footer-copyright">© Taisyakukyo Maranic</small>
  </div>
</footer>
