<h2 class="text-sm font-medium {{ invert ? 'text-white' : 'text-inherit' }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="26.415" height="15.763" class="">
    <path fill="#fff"
      d="M.626 7.882a3.333 3.333 0 0 0 3.333 3.333 3.293 3.293 0 0 0 1.591-.422 4.343 4.343 0 0 0 7.66 2.805 4.343 4.343 0 0 0 7.66-2.8 3.294 3.294 0 0 0 1.587.419 3.333 3.333 0 0 0 0-6.665 3.294 3.294 0 0 0-1.587.419 4.343 4.343 0 0 0-7.66-2.8 4.343 4.343 0 0 0-7.66 2.805 3.293 3.293 0 0 0-1.591-.422A3.333 3.333 0 0 0 .626 7.882" />
    <path fill="#1a1311"
      d="M16.525 15.763a4.96 4.96 0 0 1-3.315-1.268 4.971 4.971 0 0 1-8.2-2.8 3.81 3.81 0 0 1-1.048.148 3.958 3.958 0 0 1 0-7.917 3.812 3.812 0 0 1 1.048.149 4.97 4.97 0 0 1 8.2-2.8 4.969 4.969 0 0 1 8.2 2.8 3.784 3.784 0 0 1 1.044-.148 3.958 3.958 0 0 1 0 7.917 3.782 3.782 0 0 1-1.044-.146 4.979 4.979 0 0 1-4.889 4.069m-3.315-2.79a.619.619 0 0 1 .477.222 3.718 3.718 0 0 0 6.557-2.4.625.625 0 0 1 .925-.55 2.659 2.659 0 0 0 1.288.343 2.707 2.707 0 0 0 0-5.413 2.659 2.659 0 0 0-1.288.343.626.626 0 0 1-.925-.55 3.718 3.718 0 0 0-6.557-2.4.644.644 0 0 1-.954 0 3.718 3.718 0 0 0-6.557 2.4.626.626 0 0 1-.926.55 2.707 2.707 0 1 0 0 4.723.635.635 0 0 1 .62.01.628.628 0 0 1 .307.54 3.718 3.718 0 0 0 6.557 2.4.619.619 0 0 1 .477-.222" />
  </svg>{{ title }}
  <span class="font-en mt-3 block text-3xl font-bold uppercase md:text-4xl {{ invert ? 'text-white' : 'text-primary' }}"
    aria-hidden>
    {{ en }}
  </span>
</h2>
