{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <main class="">
    <section class="section">
      <p class="text-center">
        あなたがアクセスしようとしたページは削除されたかURLが変更されているため、見つけることができませんでした。
      </p>
      <a href="{{ function('home_url') }}" class="lead mx-auto">トップページへ戻る</a>
    </section>
  </main>
{% endblock %}
