{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <main class="">
    <div class="">
      {% include 'partials/heading-primary.twig' with {
        title: 'ページが見つかりませんでした',
        en: 'Page not found'
      } %}
      <p class="">
        あなたがアクセスしようとしたページは削除されたかURLが変更されているため、見つけることができませんでした。
      </p>
      <a href="{{ function('home_url') }}" class="">トップページへ戻る</a>
    </div>
  </main>
{% endblock %}
