{% extends 'layouts/base.twig' %}

{% block content %}
  <main class="">
    <picture>
      <source media="(min-width: 560px)" srcset="{{ get_image_path('/images/home/mainvisual.jpg') }}" />
      <source media="(min-width: 1366px)" srcset="{{ get_image_path('/images/home/mainvisual@2x.jpg') }}" />
      <img src="{{ get_image_path('/images/home/mainvisual_sm.jpg') }}"
        alt="帝釈峡マラニック 2023年11月26日日曜日 帝釈峡スコラ高原にて"
        class="mainvisual" />
    </picture>

    <section class="section grid gap-x-8 md:grid-cols-[1fr_50%]">
      <h2 class="heading-primary" data-en="Information">
        お知らせ
      </h2>

      <div class="row-span-2">
        {% for post in posts %}
          {% include 'partials/article.twig' %}
        {% endfor %}
      </div>

      <a href="{{ function('get_post_type_archive_link', 'post') }}" class="lead">記事の一覧へ</a>
    </section>
  </main>
{% endblock %}
