{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <main class="">
    <section class="section">
      <h2 class="heading-secondary">
        帝釈峡スコラ高原
      </h2>
      <p class="mt-8 md:mt-10">
        〒729-3601<br />広島県神石郡神石高原町相渡2167番地
      </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3274.171560983226!2d133.200170788855!3d34.851916300000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355129a33eb4b5d9%3A0x14f916460abbe3ef!2z5bid6YeI5bOh44K544Kz44Op6auY5Y6fIOe3j-WQiOahiOWGheaJgCjjgrnjg5HjgqTjgrnppKgp!5e0!3m2!1sja!2sjp!4v1691394124613!5m2!1sja!2sjp"
        class="mt-8 h-60 w-full md:h-[480px]"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p class="mt-8 md:mt-10">
        車：中国自動車道 東城IC下車 県道25号線約14分
      </p>
    </section>
  </main>
{% endblock %}
