{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <main class="">
    <section class="section">
      <p class="text-center font-bold">
        大会運営を手伝っていただける<br class="md:hidden" />ボランティアさんを募集しています。<br />
        大会当日にお手伝いいただける方、<br class="md:hidden" />ぜひお申し込みください。
      </p>

      <div class="mt-12 bg-white px-8 py-10 md:mt-24 md:px-16 md:py-20">
        <h2 class="heading-secondary">
          活動時間
        </h2>
        <p class="mt-8">
          【大会当日】2023年11月26日（日） 00:00〜00:00
        </p>
        <h2 class="heading-secondary">
          活動内容
        </h2>
        <p class="mt-8">
          受付、コース誘導、会場の準備・撤収、完走賞、フィニッシュ対応（ゴールの瞬間を盛り上げる係）
        </p>
        <h2 class="heading-secondary">
          募集締め切り
        </h2>
        <p class="mt-8">
          2023年00月00日（日） 00:00〜2023年00月00日（日）00:00
        </p>
        <h2 class="heading-secondary">
          食事
        </h2>
        <p class="mt-8">
          昼食付き
        </p>
        <a href="#" class="button icon-entry mt-10 bg-primary text-white md:mt-20">お申し込みはこちら</a>
      </div>
    </section>
  </main>
{% endblock %}
