{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <main class="">
    <div class="">
      <article class="">
        {{ post.content }}
      </article>
    </div>
  </main>
{% endblock %}
