{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <main class="">
    <section class="section">
      <h2 class="heading-primary" data-en="Guidelines">
        大会要項
      </h2>
      <div class="mt-8 md:mt-16 md:columns-2 md:gap-[5%]">
        <dl class="list-desc">
          <dt class="list-desc--title">
            名称
          </dt>
          <dd class="list-desc--content">帝釈峡マラニック大会</dd>
          <dt class="list-desc--title">
            主催
          </dt>
          <dd class="list-desc--content">帝釈峡マラニック大会実行委員会</dd>
          <dt class="list-desc--title">
            事務局
          </dt>
          <dd class="list-desc--content">
            庄原市企画振興部いちばんづくり課<br />
            神石高原町未来創造課
          </dd>
          <dt class="list-desc--title">
            企画運営<br class="hidden md:block" />サポート
          </dt>
          <dd class="list-desc--content">（一社）ITADAKI</dd>
          <dt class="list-desc--title">
            共催
          </dt>
          <dd class="list-desc--content">
            <ul class="list-enum">
              <li>庄原市</li>
              <li>神石高原町</li>
              <li>庄原市教育委員会</li>
              <li>神石高原町教育委員会</li>
              <li>名勝 ・国定公園帝釈峡記念事業実行委員会</li>
            </ul>
          </dd>
          <dt class="list-desc--title">
            後援
          </dt>
          <dd class="list-desc--content">
            <ul class="list-enum">
              <li>帝釈地区観光振興協議会</li>
              <li>神龍湖振興研究会</li>
              <li>東城町商工会</li>
              <li>神石高原商工会</li>
              <li>（一社）庄原観光推進機構</li>
              <li>（一社）神石高原町観光協会</li>
              <li>庄原市スポーツ協会</li>
              <li>神石地域スポーツ協会</li>
              <li>庄原市自治振興区連合会</li>
              <li>神石高原町自治振興会連絡協議会</li>
              <li>東城まちなみ保存振興会</li>
              <li>庄原商工会議所</li>
              <li>備北商工会</li>
              <li>広島テレビ</li>
              <li>テレビ新広島</li>
              <li>NHK広島放送局</li>
              <li>広島ホームテレビ</li>
              <li>中国放送</li>
              <li>広島エフエム放送</li>
              <li>エフエムふくやま</li>
              <li>尾道エフエム放送</li>
              <li>中国新聞備後本社</li>
            </ul>
          </dd>
          <dt class="list-desc--title">
            協賛
          </dt>
          <dd class="list-desc--content">調整中</dd>
          <dt class="list-desc--title">
            開催日
          </dt>
          <dd class="list-desc--content">
            <span>令和5年11月26日（日）</span>
            <ul class="list-note mt-4">
              <li>少雨決行</li>
            </ul>
          </dd>
          <dt class="list-desc--title">
            開催場所
          </dt>
          <dd class="list-desc--content">
            <span>帝釈峡スコラ高原（神石高原町相渡 2167番地）</span>
            <ul class="list-note mt-4">
              <li>受付・スタート・ゴール</li>
            </ul>
          </dd>
          <dt class="list-desc--title">
            種目等
          </dt>
          <dd class="list-desc--content">
            <span class="font-bold">①ロングコース（約65km）</span>
            <span class="heading-small">経由地</span>
            <ol>
              <li>スコラ高原（スタート）</li>
              <li>雄橋（折り返し）</li>
              <li>帝釈宇山</li>
              <li>戸宇</li>
              <li>東城市街地</li>
              <li>帝釈川ダム（折り返し）</li>
              <li>トレイルセンター</li>
              <li>花面公園（折り返し）</li>
              <li>高光</li>
              <li>龍雲寺</li>
              <li>スコラ高原（ゴール）</li>
            </ol>
            <span class="mt-2 block font-bold">②ショートコース</span>
            <span class="heading-small">雄橋コース（約12km）</span>
            <ol>
              <li>スコラ高原（スタート）</li>
              <li>雄橋（折り返し）</li>
              <li>スコラ高原（ゴール）</li>
            </ol>
            <span class="heading-small">神龍湖コース（約8km）</span>
            <ol>
              <li>スコラ高原（スタート）</li>
              <li>神龍湖（周遊）</li>
              <li>スコラ高原（ゴール）</li>
            </ol>
          </dd>
          <dt class="list-desc--title">
            定員
          </dt>
          <dd class="list-desc--content">
            <span class="font-bold">①ロングコース</span><br />
            <span>200名</span><br />
            <span class="mt-4 inline-block font-bold">②ショートコース</span><br />
            <span>各コース150名 計300名</span>
            <span>合計500名</span>
            <ul class="list-note mt-4">
              <li>先着順、振込日順</li>
            </ul>
          </dd>
          <dt class="list-desc--title">
            参加資格
          </dt>
          <dd class="list-desc--content">
            <ul class="list-disc pl-4">
              <li>参加者自身で体調管理でき、自己責任で完踏できる方</li>
              <li>申込規約の内容を遵守できる方</li>
              <li>ロングコース は高校生以上</li>
              <li>ショートコースは小学生以上、小・中学生は18歳以上（高校生不可）の人と一緒に参加のこと</li>
              <li>未就学児は参加不可とする</li>
            </ul>
            <a href="" class="link-pdf mt-4" target="_blank" rel="noreferer noopener" aria-disabled="true">
              参加誓約書兼同意書<small>（準備中）</small>
            </a>
          </dd>
          <dt class="list-desc--title">
            参加料
          </dt>
          <dd class="list-desc--content">
            <span class="font-bold">①ロングコース</span><br />
            <span>高校生以上：12,000円</span><br />
            <span class="mt-4 inline-block font-bold">②ショートコース</span><br />
            <span>高校生以上：4,000円<br />中学生：3,000円<br />小学生：2,000円</span>
            <ul class="list-note mt-4">
              <li>体調不良を含む、自己都合によるキャンセルは参加料の返却は行わない（参加賞については後日送付する）</li>
            </ul>
          </dd>
          <dt class="list-desc--title">
            時間等
          </dt>
          <dd class="list-desc--content">
            <span class="font-bold">①ロングコース</span><br />
            <span>
              受付時間：午前5時30分〜6時30分<br />スタート：午前7時<br />制限時間：10時間<br />終了：午後5時
            </span><br />
            <span class="mt-4 inline-block font-bold">②ショートコース（雄橋コース/神龍湖コース）</span><br />
            <span>受付時間：午前8時30分〜9時30分<br />スタート：午前10時<br />制限時間：5時間<br />終了：午後3時</span>
          </dd>
          <dt class="list-desc--title">
            完踏賞
          </dt>
          <dd class="list-desc--content">完踏証をゴール地点で発行</dd>
          <dt class="list-desc--title">
            参加賞
          </dt>
          <dd class="list-desc--content">大会オリジナル記念品、庄原市・神石高原町の特産品など</dd>
          <dt class="list-desc--title">
            募集期間
          </dt>
          <dd class="list-desc--content">令和5年5月26日（金）～10月22日（日）まで</dd>
          <dt class="list-desc--title">
            申込方法
          </dt>
          <dd class="list-desc--content">
            <span class="font-bold">
              ①<a href="https://runnet.jp/entry/runtes/user/pc/competitionDetailAction.do?raceId=329773&div=1"
                target="_blank"
                rel="noreferer noopener"
                class="text-primary underline">
                ランネット
              </a>によるオンライン受付
            </span><br />
            <span class="mt-4 inline-block font-bold">②参加申込書を事務局に郵送または持参</span><br />
            <ul class="list-note">
              <li>参加費は実行委員会口座への振込</li>
              <li>募集期間終了後、実行委員会より「選手証」を送付する</li>
              <li>詳細については後日掲載いたします</li>
            </ul>
            {# <span class="heading-small">参加料振込先口座</span>
            <dl class="list-desc">
              <dt class="list-desc--title">
                金融機関名
              </dt>
              <dd class="list-desc--content">ひろしま農業協同組合 庄原支店</dd>
              <dt class="list-desc--title">
                口座種類
              </dt>
              <dd class="list-desc--content">普通一般</dd>
              <dt class="list-desc--title">
                金融機関番号
              </dt>
              <dd class="list-desc--content">7994</dd>
              <dt class="list-desc--title">
                店番号
              </dt>
              <dd class="list-desc--content">759</dd>
              <dt class="list-desc--title">
                口座番号
              </dt>
              <dd class="list-desc--content">0095470</dd>
              <dt class="list-desc--title">
                口座名義
              </dt>
              <dd class="list-desc--content">
                タイシャクキョウマラニックタイカイジッコウイインカイジムキョク ジムキョクチョウ アシワユキヒロ<br />帝釈峡マラニック大会実行委員会事務局
                事務局長 足羽幸宏
              </dd>
            </dl>
            <ul class="list-note mt-4">
              <li>
                （金融機関名）をご利用の場合<br />本店・支店窓口、ATM等を利用して、上記口座に振込むこと。<br />なお、非組合員の場合は手数料が発生することを予め了承すること。
              </li>
              <li>
                （金融機関名）以外の金融機関をご利用の場合<br />利用する金融機関窓口、ATM等を利用して、上記口座に振込むこと。<br />なお、手数料が発生することを予め了承すること。
              </li>
            </ul> #}
          </dd>
          <dt class="list-desc--title">
            問い合わせ先
          </dt>
          <dd class="list-desc--content">
            <span>帝釈峡マラニック大会実行委員会事務局</span>
            <span class="mt-4 inline-block font-bold">■大会全般に関わること・庄原市内に関すること</span><br />
            <address class="not-italic">
              庄原市企画振興部いちばんづくり課<br />
              〒727-8501<br />
              広島県庄原市中本町一丁目10番1号<br />
              Tel. 0824-73-1278<br />
              Mail. &#105;&#99;&#104;&#105;&#98;&#97;&#110;&#64;&#99;&#105;&#116;&#121;&#46;&#115;&#104;&#111;&#98;&#97;&#114;&#97;&#46;&#108;&#103;&#46;&#106;&#112;
            </address>
            <span class="mt-4 inline-block font-bold">■神石高原町内に関すること</span><br />
            <address class="not-italic">
              神石高原町未来創造課<br />
              〒720-1522<br />
              広島県神石郡神石高原町小畠1701番地<br />
              Tel. 0847-89-3332<br />
              Mail. &#106;&#107;&#45;&#109;&#105;&#114;&#97;&#105;&#64;&#116;&#111;&#119;&#110;&#46;&#106;&#105;&#110;&#115;&#101;&#107;&#105;&#107;&#111;&#103;&#101;&#110;&#46;&#108;&#103;&#46;&#106;&#112;
            </address>
          </dd>
        </dl>
      </div>
    </section>

    <section class="section">
      <h2 class="heading-primary" data-en="Rules & Regulations">
        大会規約
      </h2>
      <section class="mt-8 md:mt-16">
        <h3 class="heading-secondary">
          大会ルール
        </h3>
        <ol class="mt-5 list-decimal space-y-4 pl-4 md:mt-10">
          <li>
            <span>走行上の注意</span>
            <ol class="mt-2 list-alpha space-y-2 pl-4 text-sm">
              <li>主催者が配布した、コースマップに従って走行すること。</li>
              <li>
                コースは歩道走行 を原則 とし、歩道のない道路は特に安全に注意のうえ、右側通行、一列で走行すること。
              </li>
              <li>信号に従うなど、道路交通法を遵守し安全に走行すること。</li>
              <li>道路等の占有は行っていないため、一般歩行者、自転車などの通行を妨げないよう、十分に配慮すること。</li>
              <li>誘導員が配置されている箇所については、その指示に従うこと。</li>
            </ol>
          </li>
          <li>
            <span>エイドステーション</span>
            <ol class="mt-2 list-alpha space-y-2 pl-4 text-sm">
              <li>
                コース上に概ね5km間隔で設置し、水、スポーツドリンクのほか、補給食（エイドによっては特産品）を提供する。
              </li>
              <li>補給食については、原則、一人1食のみとする。</li>
              <li>ロングコース については、関門を2箇所設置する。</li>
            </ol>
          </li>
          <li>
            <span>完踏者の条件</span><br />
            <span class="text-sm">
              各関門を制限時間以内に通過したのち、各コースの制限時間内（ロングコース10時間、ショートコース：5時間）にフィニッシュした者を完踏者と認める。
            </span>
          </li>
          <li>
            <span>タイム計測等</span>
            <ol class="mt-2 list-alpha space-y-2 pl-4 text-sm">
              <li>ロングコース、ショートコースともにタイムの計測を行い、完踏者全員に完踏証を授与する。</li>
              <li>順位はつけず、表彰も行わない 。</li>
            </ol>
          </li>
          <li>
            <span>棄権、走行の中止</span>
            <ol class="mt-2 list-alpha space-y-2 pl-4 text-sm">
              <li>
                走行中に棄権する場合は、安全確認の上、最寄りのスタッフもしくは、大会本部へ連絡すること。（本部連絡先はゼッケンに記載）
              </li>
              <li>各関門で制限時間を超えた場合は走行を中止し、スタッフの指示に従うこと。</li>
              <li>安全確保のため、スタッフが走行不可能と判断した場合には、本人の意思に関わらず走行を中止させる。</li>
            </ol>
          </li>
          <li>
            <span>注意事項</span><br />
            <span class="mt-2 inline-block text-sm">次に該当する者はルール違反となり、完踏者と見なさない。</span>
            <ul class="mt-2 list-disc space-y-2 pl-4 text-sm">
              <li>指定のコースを著しく逸脱し走行した者</li>
              <li>ゴミを路上に捨てる等のマナー違反のあった者</li>
              <li>信号無視等、道路交通法に違反した者</li>
              <li>一般歩行者、車両等に迷惑をかけた者</li>
              <li>自力走行以外（自転車、電車、バス、タクシー等）の手段を利用した者</li>
              <li>競技方法に違反し、スタッフの指示に従わなかった者</li>
              <li>その他不正行為を行った者</li>
            </ul>
          </li>
          <li>
            <span>その他</span><br />
            <ul class="mt-2 list-alpha space-y-2 pl-4 text-sm">
              <li>気象状況等により、急遽コースの変更を行うことがある。</li>
              <li>天気が悪化した場合、大会途中であっても中止することが ある。</li>
              <li>エイドステーションには飲料・補給食を用意するが、安全のため各自で飲料水は必ず携帯すること。</li>
              <li>
                携帯電話、コースマップ（受付にて配布）、給水用マイカップ、健康保険証、レインウェア、マスクは必ず持参し、走行中に携帯すること。
              </li>
              <li>エマージェンシーシート、救護用品や行動食等の装備は、各自の判断と責任のもと、持参する。</li>
              <li>
                レース中、怪我や体調不良での選手を発見した場合は、その救護を優先し、大会本部またはスタッフまで連絡すること。
              </li>
              <li>
                レース中、怪我や体調不良での選手を発見した場合は、その救護を優先し、大会本部またはスタッフまで連絡すること。
              </li>
            </ul>
          </li>
        </ol>
      </section>

      <section class="mt-8 md:mt-16">
        <h3 class="heading-secondary">
          大会中止の発表について
        </h3>
        <p class="mt-5 md:mt-10">
          荒天、気象に関す警報、地震等の自然災害等により、大会の開催が困難であると判断した場合、主催者は大会前日に最終判断を行い、適宜大会公式ホームページ上で公表する。
        </p>
      </section>

      <section class="mt-8 md:mt-16">
        <h3 class="heading-secondary">
          個人情報の取り扱いについて
        </h3>
        <p class="mt-5 md:mt-10">
          主催者は、個人情報保護法等の法令を遵守し、参加者の個人情報を適切に取り扱うこととする。
        </p>
      </section>

      <section class="mt-8 md:mt-16">
        <h3 class="heading-secondary">
          新型コロナウイルス感染症対策について
        </h3>
        <p class="mt-5 md:mt-10">
          別に定める「新型コロナウイルス感染防止対策について」を遵守すること。<br />
          <a href="" class="link-pdf mt-4 md:mr-5" target="_blank" rel="noreferer noopener" aria-disabled="true">
            新型コロナウイルス感染防止対策について<small>（準備中）</small>
          </a>
          <a href="" class="link-pdf mt-5" target="_blank" rel="noreferer noopener" aria-disabled="true">
            健康チェック表<small>（準備中）</small>
          </a>
        </p>
      </section>
    </section>
  </main>
{% endblock %}
