{% extends 'layouts/base.twig' %}

{% block content %}
  <div class="">
    <span class="" aria-hidden>{{ title_en }}</span>
    <h2 class="">
      {{ title }}
    </h2>
    {% include 'partials/breadcrumbs.twig' %}
  </div>
{% endblock %}
