.icon,
.lead::after {
  @apply inline-block h-10 w-10 rounded-full border border-current bg-white bg-[length:50%] bg-center bg-no-repeat;
  background-image: var(--icon-image);
}

.lead {
  @apply flex w-fit items-center gap-4 font-bold;

  &::after {
    content: '';
    @apply border-primary;
  }
}

.link-pdf {
  @apply inline-block border-b-2 border-current bg-[length:auto_1ch] bg-left bg-no-repeat py-1 pl-6 font-bold text-primary;
  background-image: var(--icon-image);
}

.icon-arrow,
.lead::after {
  --icon-image: url('../images/common/icon_arrow.svg');
}

.icon-envelope {
  --icon-image: url('../images/common/icon_envelope.svg');
}

.icon-entry {
  --icon-image: url('../images/common/icon_entry.svg');
}

.icon-pdf,
.link-pdf {
  --icon-image: url('../images/common/icon_pdf.svg');
}

.icon-file {
  --icon-image: url('../images/common/icon_file.svg');
}
